thead.thead-dark {
  position: sticky;
  top: 0;
  background-color: #343a40;
  z-index: 1;
}

.table {
  overflow-y: auto;
  max-height: 400px;
  position: relative;
}

.history-table td {
  position: relative;
}

.history-table td .edit-btn,
.history-table td .save-btn,
.history-table td .cancel-btn {
  margin-left: 5px;
}

.history-table td .save-btn,
.history-table td .cancel-btn {
  display: none;
}

.history-table td.editing .save-btn,
.history-table td.editing .cancel-btn {
  display: inline-block;
}

.tag {
  display: inline-block;
  padding: 0.25em 0.5em;
  margin: 0.2em;
  background-color: #e0e0e0;
  border-radius: 0.25em;
}
